MYSQL_ROOT_PASSWORD=root
MYSQL_PORT=3306
DB_USERNAME=root
DB_PASSWORD=root

RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest
REDIS_PORT=6379

IDENTITY_SERVICE_URL=http://localhost:8081
ORGANIZATION_CUSTOMER_SERVICE_URL=http://localhost:8082
INVENTORY_SERVICE_URL=http://localhost:8083
RENTAL_SERVICE_URL=http://localhost:8084
LOGISTICS_SERVICE_URL=http://localhost:8085
BILLING_SERVICE_URL=http://localhost:8086
MAINTENANCE_SERVICE_URL=http://localhost:8087
AI_SERVICE_URL=http://localhost:8090
